* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #E5E5E5;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

button, svg {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.header {
  background-color: #0050B3;
  padding-top: 6px;
  padding-bottom: 6px;
  position: fixed;
  width: 100%;
  height: 48px;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.header-search {
  width: 336px;
}

.header-search__input {
  outline: none;
  padding: 5px 30px 5px 12px;
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation__user {
  display: flex;
  align-items: center;
}

.header-navigation__user-avatar {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.header-navigation__user-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.header-navigation__panel {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.header-navigation__panel-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-left: 12px;
}

.header-navigation__panel-link:before {
  content: '';
  width: 1px;
  height: 16px;
  margin-right: 12px;
  background: #003a8c;
}

.header-navigation__panel-link:last-child:after {
  content: '';
  width: 1px;
  height: 16px;
  margin-left: 12px;
  background: #003a8c;
}

.header-navigation__icon {
  fill: #002766;
}

.header-navigation__icon:hover {
  fill: #ffffff;
}

.header-navigation__icons {
  display: flex;
  align-items: center;
}

.header-navigation__icons-link {
  display: flex;
  align-items: center;
  margin-left: 17px;
}

.header-navigation__icons-link:last-child:before {
  content: '';
  width: 1px;
  height: 16px;
  margin-right: 12px;
  background: #003a8c;
}

.menu-sidebar {
  margin-top: 66px;
  max-width: 192px;
  flex-grow: 1;
  margin-right: 18px;
}

.menu-sidebar__user {
  margin-left: 8px;
}

.menu-sidebar__avatar {
  width: 24px;
  height: 24px;
}

.menu-sidebar__user-name {
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}

.nav-link {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
}

.nav-link.active {
  background-color: #ffffff;
  color: #262626;
  font-weight: 600;
  background-image: url(../images/dots.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.nav-link.last {
  padding-top: 12px;
  color: #1890FF;
}

.nav-link.last:hover {
  font-size: 18px;
}

.nav-text {
  margin-left: 8px;
}

.nav-title {
  padding-left: 10px;
  margin-bottom: 4px;
  margin-top: 0;
  font-size: 12px;
  line-height: 20px;
  color: #262626;
}

.main-feed {
  margin-top: 66px;
  max-width: 588px;
  flex-grow: 1;
}

.create-post {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.post-header {
  padding: 9px 16px;
  background: #F5F5F5;
}

.post-header__title {
  color: #595959;
  font-size: 14px;
  line-height: 22px;
}

.post-body {
  padding: 16px 16px 24px 16px;
  display: flex;
  align-items: flex-start;
}

.post-body__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-body__input {
  padding-top: 8px;
  padding-left: 8px;
  width: 100%;
  outline: none;
  word-wrap: break-word;
  overflow-x: hidden;
}

.post-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 16px 16px 16px;
}

.post-footer::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}

.post-footer__tag {
  margin-right: 8px;
  background: #F5F5F5;
  border-radius: 48px;
  border: none;
  outline: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
}

.button-text {
  margin-left: 8px;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.button-text:last-child {
  padding-right: 8px;
}

.news {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}

.news-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.news-post-time {
  display: flex;
  align-items: center;
}

.news-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.news-user {
  display: flex;
  align-items: center;
}

.news-info {
  display: flex;
  flex-wrap: wrap;
}

.news-info__author {
  color: #0050B3;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
}

.news-info__time {
  color: #8C8C8C;
  font-size: 14px;
  line-height: 22px;
}

.news-info__time::after {
  display: inline-block;
  content: '';
  width: 4px;
  height: 4px;
  background: #BFBFBF;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 6px;
}

.news-info__button {
  background: #ffffff;
  border: none;
  outline: none;
}

.news-text {
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 16px;
}

.news-text a {
  color: #096dd9;
  text-decoration: none;
}

.news-text a:hover {
  text-decoration: underline;
}

.news-image {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  max-width: 100%;
}

.news-likes {
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 9px;
}

.news-likes svg:hover {
  width: 20px;
  height: 20px;
}

.news-likes__counter {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 4px;
}

.news-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-footer::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}

.news-button {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: none;
  outline: none;
}

.news-button__text {
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-left: 8px;
}

.right-sidebar {
  width: 384px;
}

.stories {
  margin-top: 66px;
  background: #ffffff;
  margin-left: 24px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px;
  padding-left: 24px;
}

.stories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.stories-header-buttons {
  display: flex;
  align-items: center;
}

.stories-header-buttons__link {
  display: flex;
  align-items: center;
  color: #0050B3;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}

.stories-header-buttons__link:last-child::before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #BFBFBF;
  margin: 0 8px;
}

.stories-header-buttons__link svg {
  margin-right: 4px;
}

.stories-header__title {
  margin: 0;
  color: #262626;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.stories-item-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.stories-item-add {
  display: flex;
  align-items: center;
}

.stories-item__content {
  display: flex;
  flex-direction: column;
}

.stories-item-avatar {
  margin-right: 12px;
}

.stories-item__author {
  display: block;
  color: #0050B3;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 4px;
}

.stories-item__text {
  display: block;
  color: #8C8C8C;
  font-size: 14px;
  line-height: 22px;
}

.stories-items {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.stories-items-content {
  display: flex;
  flex-direction: column;
}

.stories-items-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.stories-items__author {
  color: #0050B3;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

.stories-items__text {
  color: #8C8C8C;
  font-size: 14px;
  line-height: 22px;
}
